.about {
  margin: 0 auto;
  width: 84%;
  padding: 0 20px;

  h2 {
    @include text-sets(30px, 30px, 600);
    color: #1f1f1f;
    margin: 0 auto 4%;
    text-align: center;

    @media (max-width: $width-desktop) {
      @include text-correct(24px, 41px);
      margin-bottom: 5.2%;
    }

    @media (max-width: $width-laptop) {
      margin-bottom: 10.8%;
    }
  }

  @media (max-width: $width-desktop) {
    padding: 0 11% 0 12%;
    width: auto;
  }

  @media (max-width: $width-laptop) {
    padding: 0 14px;
  }
}

.about__facts {
  @include list-refresh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10.2%;

  @media (max-width: $width-desktop) {
    margin: 0 0 5%;
  }

  @media (max-width: $width-laptop) {
    margin: 0 0 14%;
  }
}

.about__fact {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1%;
  min-width: 270px;

  &:last-child {
    margin-right: 0;
  }

  span {
    @include text-sets(28px, 38px, bold);
    color: #0ad9c6;
  }

  p {
    @include text-sets(22px, 34px, normal);
    color: #000000;
    text-align: center;
    margin-top: 7%;
    width: 100%;

    @media (max-width: $width-desktop) {
      margin-bottom: 39px;
    }

    @media (max-width: $width-laptop) {
      font-size: 18px;
      margin-bottom: 39px;
      margin-top: 4.9%;
    }
  }

  @media (max-width: $width-desktop) {
    width: 42%;
    padding: 0;
    min-width: 263px;
  }

  @media (max-width: $width-laptop) {
    width: 100%;
  }
}
