.contacts {
  margin: 0 auto;
  width: 84%;
  max-width: 1700px;
  padding: 0 20px 50px;

  @media (max-width: $width-desktop) {
    padding: 0 5% 50px;
  }

  @media (max-width: $width-laptop) {
    width: auto;
    padding-left: 9%;
    padding-right: 8%;
  }
}

.contacts__list {
  @include list-refresh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 47%;
  padding: 0;
  max-width: 800px;
  min-width: 541px;

  @media (max-width: $width-desktop) {
    width: 87%;
  }

  @media (max-width: $width-laptop) {
    width: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 0;
  }
}

.contacts__item {
  @include text-sets(16px, 22px, normal);

  &:last-child {
    margin-right: 0;
  }

  &--phone {
    line-height: 32px;
    margin-top: -4px;
    padding-right: 22px;

    a {
      margin-bottom: -2px;
    }
  }

  svg {
    margin-right: 8px;
  }

  @media (max-width: $width-laptop) {
    margin-bottom: 8%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__link {
  color: rgba(#000000, 0.5);

  &:hover,
  &:focus {
    color: rgba(#000000, 0.7);

    svg {
      opacity: 0.7;
    }
  }

  &:active {
    color: #000000;

    svg {
      opacity: 0.3;
    }
  }
}
