.intro {
  padding: 0;
}

.intro__content {
  padding: 0;

  h1 {
    @include text-sets(46px,64px,bold);
    color: #ffffff;
    margin-top: 22px;
    margin-bottom: 24px;

    @media (max-width: $width-desktop) {
      @include text-correct(30px,42px);
    }
  }

  p {
    @include text-sets(20px,32px,300);
    color: rgba(#ffffff, 0.8);
    min-width: 300px;
    width: 67%;

    @media (max-width: $width-desktop) {
      font-size: 18px;
    }
  }

  @media (max-width: $width-desktop) {
    margin-bottom: 10%;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
      margin: 0 auto;
    }
  }
}

.intro__wrapper {
  display: flex;
  width: 61%;
  max-width: 1550px;
  margin: 0 auto;
  padding-top: 17.3%;
  padding-bottom: 26%;
  justify-content: space-around;

  @media (max-width: $width-desktop) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-top: 5.3%;
    padding-bottom: 11%;
  }
}

.intro__logo {
  display: block;

  @media (max-width: $width-desktop) {
    display: none;
  }
}

.intro__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 600px;

  p {
    text-align: center;

    @include text-sets(17px,28px,600);
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 25px;

    @media (max-width: $width-desktop) {
      color: #000000;
      font-size: 18px;
    }
  }

  @media (max-width: $width-desktop) {
    width: 36%;
  }
}
