.intro {
  margin-top: 17%;

  @media (max-width: $width-desktop) {
    background-image: url("../img/bg-bike-laptop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center top;
    margin: 0 0 7.7%;
    position: relative;
    padding: 14.3% 0 10%;
  }

  @media (max-width: $width-laptop) {
    background-image: url("../img/bg-bike-mobile.png");
    padding: 17.3% 16px 22%;
    margin: 0 0 22%;
  }
}

@media (max-width: $width-desktop) and (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .intro {
    background-image: url("../img/bg-bike-laptop@2x.png");
  }
}

@media (max-width: $width-laptop) and (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .intro {
    background-image: url("../img/bg-bike-mobile@2x.png");
  }
}

.intro__wrapper {
  @media (max-width: $width-desktop) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 4%;
    margin: 0 auto;
  }
  @media (max-width: $width-laptop) {
    margin-top: 24%;
  }
  h1 {
    @include text-sets(46px,64px,bold);
    color: #ffffff;
    margin-top: 22px;
    margin-bottom: 24px;

    @media (max-width: $width-desktop) {
      @include text-correct(30px,42px);
      text-align: center;
    }

    @media (max-width: $width-laptop) {
      margin-bottom: 6%;
    }
  }

  p {
    @include text-sets(20px,32px,300);
    color: rgba(#ffffff, 0.8);
    min-width: 300px;
    width: 66%;

    @media (max-width: $width-desktop) {
      font-size: 18px;
      text-align: center;
      margin: 0 auto;
    }
    @media (max-width: $width-laptop) {
      min-width: unset;
      width: auto;
    }
  }
}

.intro__logo {
  display: block;

  @media (max-width: $width-desktop) {
    display: none;
  }
}
