.site-list {
  @include list-refresh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 21px 16px 9px;

  margin: 0 auto;
}

.site-list__item {
  @include text-sets(16px, 32px, 300);

  a {
    color: rgba(#ffffff, 0.7);

    &:hover,
    &:focus {
      color: rgba(#ffffff, 0.3);
    }

    &:active {
      color: #ffffff;
    }
  }

  @media (max-width: $width-desktop) {
    @include text-sets(20px, 28px, 400);

    a {
      color: #48494d;

      @include set-hover(#48494d);
    }
  }
}
