.types {
  background-color: #f6f7f9;

  h2 {
    @include text-sets(30px, 30px, 600);
    color: #1f1f1f;
    text-align: center;

    @media (max-width: $width-desktop) {
      @include text-correct(24px, 41px);
    }

    @media (max-width: $width-laptop) {
      margin-bottom: 9%;
    }
  }
}

.types__wrapper {
  margin: 0 auto;
  width: 84%;
  max-width: 1700px;
  padding: 9% 20px 0;

  @media (max-width: $width-desktop) {
    width: auto;
    padding: 4% 6% 0;
  }

  @media (max-width: $width-laptop) {
    padding: 9% 0 3%;
  }
}

.types__list {
  @include list-refresh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 1% 12% 1.4%;
  margin-bottom: 0;

  @media (max-width: $width-desktop) {
    padding: 0 2% 2.2%;
  }

  @media (max-width: $width-laptop) {
    padding: 0;
    margin: 0 auto;
  }
}

.types__image-wrapper {
  position: relative;
  margin-right: 0.5%;
}

.types__item {
  margin-top: 34px;
  z-index: 1;
  padding: 0 2% 0.4%;

  figure {
    margin: 0;
  }

  figcaption {
    @include text-sets(22px, 34px, 600);
    color: #000000;
    text-align: center;
    margin-top: 21px;
    max-width: 344px;

    @media (max-width: $width-desktop) {
      margin-top: 22px;
      max-width: 288px;
    }

    @media (max-width: $width-laptop) {
      margin-top: 22px;
    }
  }

  img {
    display: block;

    @media (max-width: $width-desktop) {
      height: 300px;
      width: 270px;
      object-fit: cover;
      border-radius: 2%;
    }
  }

  &:nth-child(3n+1) {
    .types__image-wrapper {
      &::before {
        content: "";
        position: absolute;
        background-image: url("../img/ellipse.svg");
        background-repeat: no-repeat;
        left: -17%;
        right: 0;
        top: 31%;
        bottom: 0;
        z-index: -1;
        width: 53%;
        height: 36%;
      }
    }


    @media (max-width: $width-desktop) {
      margin-top: 1%;

      .types__image-wrapper {
        &::before {
          transform: scale(0.7);
          left: -22%;
          right: 0;
          top: 59%;
          width: 68%;
          height: 60%;
        }
      }
    }

    @media (max-width: $width-laptop) {
      margin-top: 1%;

      .types__image-wrapper {
        &::before {
          width: 64%;
          left: -20%;
        }
      }
    }
  }

  &:nth-child(3n + 2) {
    margin-top: 5.3%;

    .types__image-wrapper {
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-image: url("../img/rectangle.svg");
        background-repeat: no-repeat;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 48px;
        height: 48px;
      }

      &::before {
        left: -5%;
        top: -3%;
      }

      &::after {
        left: 93%;
        top: 96%;
      }
    }

    @media (max-width: $width-desktop) {
      margin-top: 1%;

      .types__image-wrapper {
        position: static;

        &::before,
        &::after {
          position: static;
          display: none;
        }
      }
    }
  }

  &:nth-child(3n + 3) {
    margin-top: 2%;

    .types__image-wrapper {
      &::before {
        content: "";
        position: absolute;
        background-image: url("../img/ellipse.svg");
        background-repeat: no-repeat;
        right: 0;
        bottom: 0;
        transform: scale(0.5);
        left: 69%;
        top: -15%;
        width: 53%;
        height: 35%;
      }
    }

    @media (max-width: $width-desktop) {
      margin-top: 1%;

      .types__image-wrapper {
        &::before {
          transform: scale(0.39);
          left: 63%;
          top: -26%;
          width: 67%;
          height: 60%;
        }
      }
    }

    @media (max-width: $width-laptop) {
      margin-top: 1%;

      .types__image-wrapper {
        &::before {
          left: 58%;
          top: -25%;
          width: 71%;
        }
      }
    }
  }

  @media (max-width: $width-desktop) {
    margin: 1% 0 7%;
  }

  @media (max-width: $width-laptop) {
    margin: 0 0 12%;
  }
}
