.video {
  h2 {
    @include text-sets(30px,30px,600);
    color: #ffffff;

    @media (max-width: $width-laptop) {
      font-size: 24px;
    }
  }

  p {
    @include text-sets(16px,28px,300);
    color: rgba(#ffffff, 0.7);

    @media (max-width: $width-desktop) {
      @include text-correct(24px,41px);
    }
  }
}

.video__button {
  cursor: pointer;
}
